$colorSelect: #f16d7f
$backgroundTitle: #f8f3f4
$colorHover: #ffffff
$colorBasicBlack: #000000
$colorMain: #222222
$colorBasic: #5e5e5e
$colorMainHeaders: #fbfbfb 
$colorBorder: #a4a4a4
$colorInput: #e1e1e1
$colorBackground: #f7f7f7 
