* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

a {
  text-decoration: none;
}

.center {
  padding-left: calc(50% - 570px);
  padding-right: calc(50% - 570px);
}

.main_menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #222222;
  height: 75px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu_search {
  margin-left: 41px;
}

.menu_account {
  margin-left: 34px;
  margin-right: 33px;
}

.main_view {
  background-color: rgba(113, 103, 105, 0.08);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 764px;
}

.main_view:hover {
  -webkit-filter: brightness(50%);
          filter: brightness(50%);
}

.main_image {
  width: 50%;
  padding-left: calc(50% - 800px);
}

.main_info {
  width: 50%;
  background-color: #f8f3f4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-right: calc(50% - 800px);
}

.main_info:hover .main_header {
  -webkit-animation: tracking-in-expand 1.5s cubic-bezier(0.215, 0.61, 0.355, 1) both;
  -webkit-animation-animation: tracking-in-expand 1.5s cubic-bezier(0.215, 0.61, 0.355, 1) both;
}

.pink_block {
  margin-left: 64px;
  margin-right: 16px;
  height: 92px;
  width: 12px;
  background-color: #f16d7f;
}

.main_header {
  text-transform: uppercase;
  font-weight: 900;
  font-size: 48px;
  line-height: 58px;
  color: #222222;
}

.main_paragraph {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 32px;
  line-height: 38px;
  color: #222222;
}

.pink_text {
  color: #f16d7f;
}

.popular_deal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 63px;
}

.deals_card {
  position: relative;
}

.deals_card:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition-timing-function: ease-in-out;
          transition-timing-function: ease-in-out;
  -webkit-transition: 1s;
  transition: 1s;
}

.deals_card:not(:last-child) {
  margin-right: 30px;
}

.deals_image {
  width: 100%;
}

.deals_content {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.deals_paragraph {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #ffffff;
}

.deals_header {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  color: #f16d7f;
}

.big_deal {
  margin-top: 30px;
  position: relative;
}

.big_deal:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition-timing-function: ease-in-out;
          transition-timing-function: ease-in-out;
  -webkit-transition: 1s;
  transition: 1s;
}

.big_deal_image {
  width: 100%;
}

.gallery_introduction {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 97px;
  margin-bottom: 48px;
}

.gallery_heading {
  margin-bottom: 6px;
  font-weight: 400;
  font-size: 30px;
  line-height: 36px;
  color: #222222;
}

.gallery_paragraph {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #a4a4a4;
}

.main_gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.card_main_gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #f7f7f7;
  width: 360px;
  position: relative;
}

.card_main_gallery:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition-timing-function: ease-in-out;
          transition-timing-function: ease-in-out;
  -webkit-transition: 1s;
  transition: 1s;
}

.card_main_gallery:hover .add_to_cart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.card_main_gallery:hover .image_main_gallery {
  -webkit-filter: brightness(50%);
          filter: brightness(50%);
}

.margin_bottom_card {
  margin-bottom: 30px;
}

.image_main_gallery {
  width: 100%;
}

.add_to_cart {
  position: absolute;
  width: 138px;
  height: 43px;
  top: 188px;
  left: 111px;
  border: 1px solid #ffffff;
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #ffffff;
}

.image_add_to_cart {
  margin-right: 10px;
}

.heading_main_gallery {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  color: #000000;
  margin-top: 25px;
  margin-left: 16px;
}

.paragraph_main_gallery {
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #5e5e5e;
  margin: 15px 16px;
}

.price_main_gallery {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #f16d7f;
  margin-left: 16px;
  margin-bottom: 20px;
}

.allProducts_button {
  text-align: center;
  height: 47px;
  margin-bottom: 95px;
  margin-top: 48px;
}

.allProducts_link {
  border: 1px solid #f16d7f;
  padding: 14px 38px;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #f16d7f;
}

.allProducts_link:hover {
  background-color: #f16d7f;
  color: #ffffff;
  -webkit-animation: shadow-drop-2-center 0.5s cubic-bezier(0.215, 0.61, 0.355, 1) both;
  -webkit-animation-animation: shadow-drop-2-center 0.5s cubic-bezier(0.215, 0.61, 0.355, 1) both;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #222222;
}

.footer_column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 104px;
  margin-bottom: 104px;
}

.footer_heading {
  margin-top: 20px;
  margin-bottom: 16px;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #fbfbfb;
}

.footer_paragraph {
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #fbfbfb;
}

.footer_subscribe {
  background-image: url("../img/img_subscribe.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center bottom;
  height: 448px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.subscribe_column {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.subscribe_foto {
  margin-bottom: 40px;
}

.subscribe_feedback {
  width: 360px;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #222222;
}

.subscribe_heading {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 24px;
  line-height: 37px;
  text-align: center;
  color: #222222;
}

.subscribe_paragraph {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  text-align: center;
  color: #222222;
}

.subscribe_button {
  margin-top: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 50px;
  width: 350px;
}

.subscribe_email_input {
  background: #b1b1b1;
  border: 0;
  border-bottom-left-radius: 30px;
  border-top-left-radius: 30px;
  padding: 20px;
  width: 75%;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #222222;
  opacity: 0.67;
  outline: none;
}

.subscribe_email_button {
  background-color: #f16d7f;
  border: 0;
  border-bottom-right-radius: 30px;
  border-top-right-radius: 30px;
  padding: 0 20px;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #ffffff;
  outline: none;
  -webkit-animation: heartbeat 1.5s ease-in-out infinite both;
  -webkit-animation-animation: heartbeat 1.5s ease-in-out infinite both;
}

.footer_copyright {
  margin-top: 30px;
  margin-bottom: 30px;
}

.text_copyright {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #fbfbfb;
}

.footer_social_media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.social_media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 32px;
  width: 32px;
  background-color: #ffffff;
  margin-left: 7px;
}

.social_media a i {
  color: #000000;
}

.social_media a:visited {
  color: inherit;
}

.social_media:hover {
  background-color: #f16d7f;
}

.social_media:hover a i {
  color: #ffffff;
}

.catalog_title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #f8f3f4;
  height: 148px;
}

.heading_catalog_title {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  color: #f16d7f;
}

.heading_catalog_title:hover {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
  -webkit-transition: 1s;
  transition: 1s;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
}

.breadcrumbs,
.breadcrumb_link {
  text-transform: uppercase;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #5e5e5e;
}

.breadcrumb_link:hover {
  color: #f16d7f;
}

.active_page {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: #f16d7f;
}

.catalogs_filters {
  height: 130px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.catalogs_filters a:visited {
  color: inherit;
}

.filter_block_left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -ms-flex-preferred-size: 33.333333%;
      flex-basis: 33.333333%;
}

.filter_catalog {
  position: absolute;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #5e5e5e;
  margin-top: -8px;
  padding-left: 16px;
}

.filter_text {
  font-weight: 600;
}

.filter_text_icon {
  margin-left: 10px;
}

.filter_catalog_active:hover {
  width: 360px;
  background: #ffffff;
  -webkit-box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
          box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
  padding: 16px;
  position: absolute;
  z-index: 1;
  margin-top: -24px;
}

.filter_catalog_active:hover #svg_filter_catalog {
  fill: #f16d7f;
}

.filter_catalog_active:hover .filter_text {
  color: #f16d7f;
}

.filter_items {
  display: none;
  margin-top: 16px;
}

.filter_items_heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  outline: none;
}

.filter_items_heading:hover {
  color: #f16d7f;
}

.vertical_pink_block_filter {
  margin-right: 10px;
}

.line_filter {
  width: 327px;
  color: #b1b1b1;
}

.filter_list {
  list-style-type: none;
  margin: 25px 18px;
}

.filter_list_category:hover {
  color: #f16d7f;
}

.filter_list li {
  margin-bottom: 10px;
}

.filter_catalog_active:hover .filter_items {
  display: block;
}

.filter_block_right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 2;
      -ms-flex-positive: 2;
          flex-grow: 2;
  -ms-flex-preferred-size: 66.666666%;
      flex-basis: 66.666666%;
  margin-left: 16px;
}

::-webkit-details-marker {
  display: none;
}

.checkbox_for_right_menu {
  position: relative;
  margin-right: 28px;
}

.right_menu_category {
  outline: none;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #5e5e5e;
}

.right_menu_category .fa-angle-down {
  margin-left: 10px;
}

.choise_for_checkbox {
  margin-top: 5px;
  padding: 10px;
  position: absolute;
  z-index: 2;
  width: 79px;
  background: #ffffff;
  -webkit-box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
          box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
}

.choise_box {
  border: 1px solid #b1b1b1;
  width: 12px;
  height: 12px;
  margin-right: 9px;
  border-radius: 0;
}

.clients_choise {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #5e5e5e;
}

.catalog_gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.numbering_block {
  margin-top: 48px;
  height: 140px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.pagination {
  padding: 12px 16px;
  border: 1px solid #b1b1b1;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 43px;
}

.link_pagination {
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #b1b1b1;
}

.active_pagination {
  color: #f16d7f;
}

.link_pagination_button {
  color: #000000;
}

.pagination a:not(:last-child) {
  padding-right: 15px;
}

.product_slider_show {
  padding-left: calc(50% - 800px);
  padding-right: calc(50% - 800px);
  height: 777px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #f7f7f7;
  position: relative;
  z-index: 1;
}

.product_slider_show_arrow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 47px;
  width: 47px;
  background: rgba(42, 42, 42, 0.15);
}

.product_slider_show_arrow a:visited {
  color: inherit;
}

.product_slider_show_arrow:hover a {
  color: #f16d7f;
}

.about_product_card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  position: relative;
  width: 1140px;
  border: 1px solid #b1b1b1;
  margin-top: -65px;
  z-index: 2;
  background: white;
}

.product_description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 65px;
}

.product_card_category {
  text-transform: uppercase;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #f16d7f;
  margin-bottom: 12px;
}

.product_card_name {
  text-transform: uppercase;
  font-weight: 300;
  font-size: 18px;
  line-height: 22px;
  color: #5e5e5e;
  margin-top: 12px;
  margin-bottom: 48px;
}

.product_card_description {
  width: 555px;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #5e5e5e;
  margin-bottom: 32px;
}

.product_card_price {
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  color: #f16d7f;
}

.product_card_line {
  border: 1px solid #b1b1b1;
  width: 640px;
  margin: 65px 0;
}

.product_card_filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.choice_for_product_category {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #5e5e5e;
  outline: none;
}

.choice_for_product_category .fa-angle-down {
  margin-left: 10px;
}

.choice_for_product_category:not(:last-child) {
  margin-right: 23px;
}

.product_button {
  margin-top: 48px;
  margin-bottom: 65px;
  height: 47px;
  width: 210px;
  border: 1px solid #f16d7f;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.image_add_to_card_product {
  margin-right: 22px;
}

.link_add_to_card_product {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #f16d7f;
}

.product_button:hover .link_add_to_card_product {
  background-color: #f16d7f;
  color: #ffffff;
}

.product_button:hover {
  background-color: #f16d7f;
  color: #ffffff;
  -webkit-animation: shadow-drop-2-center 0.5s cubic-bezier(0.215, 0.61, 0.355, 1) both;
  -webkit-animation-animation: shadow-drop-2-center 0.5s cubic-bezier(0.215, 0.61, 0.355, 1) both;
}

.product_button:hover #svg_add_to_cart {
  fill: white;
}

.product_gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 128px 0;
}

.cart_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 96px;
  margin-bottom: 128px;
}

.cart_items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 650px;
}

.cart_card {
  margin-bottom: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 650px;
  height: 306px;
  -webkit-box-shadow: 17px 19px 24px rgba(0, 0, 0, 0.13);
          box-shadow: 17px 19px 24px rgba(0, 0, 0, 0.13);
}

.cart_card:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition-timing-function: ease-in-out;
          transition-timing-function: ease-in-out;
  -webkit-transition: 1s;
  transition: 1s;
}

.cart_card_image {
  width: 262px;
}

.cart_card_description {
  width: 260px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 30px;
}

.cart_card_description_name {
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  color: #222222;
  margin-bottom: 42px;
}

.cart_card_description_info {
  margin-bottom: 6px;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  color: #5e5e5e;
}

.description_quantity {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.description_number {
  border: 1px solid #b1b1b1;
  width: 44px;
  height: 24px;
  margin-left: 24px;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #5e5e5e;
  text-align: center;
  outline: none;
}

.card_close {
  margin: 30px;
}

.cart_choice {
  margin-top: 72px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: center;
}

.choice_button {
  width: 235px;
  height: 50px;
  border: 1px solid #a4a4a4;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #ffffff;
}

.choice_button a:visited {
  color: inherit;
}

.choice_button:hover {
  background-color: #f16d7f;
  color: #ffffff;
  -webkit-animation: shadow-drop-2-center 0.5s cubic-bezier(0.215, 0.61, 0.355, 1) both;
  -webkit-animation-animation: shadow-drop-2-center 0.5s cubic-bezier(0.215, 0.61, 0.355, 1) both;
}

.cart_info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 128px;
  width: 360px;
}

.cart_contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.cart_contact_heading {
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #222222;
  margin-top: 14px;
}

.contact_form {
  margin: 18px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contact_form_input {
  border: 1px solid #a4a4a4;
  margin-bottom: 20px;
  outline: none;
  font-style: normal;
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
  color: #222222;
  padding: 15px;
}

.contact_form_button {
  border: 1px solid #a4a4a4;
  width: 100px;
  outline: none;
  font-weight: 300;
  font-size: 11px;
  line-height: 13px;
  color: #222222;
  padding: 10px;
  background-color: #ffffff;
}

.contact_form_button:hover {
  background-color: #f16d7f;
  color: #ffffff;
  -webkit-animation: shadow-drop-2-center 0.5s cubic-bezier(0.215, 0.61, 0.355, 1) both;
  -webkit-animation-animation: shadow-drop-2-center 0.5s cubic-bezier(0.215, 0.61, 0.355, 1) both;
}

.cart_checkout {
  background: #f7f7f7;
  height: 214px;
  margin-top: 36px;
}

.cart_checkout_line {
  width: 275px;
  color: #b1b1b1;
  margin: 20px 40px;
}

.cart_checkout_subtotal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  font-weight: 400;
  font-size: 11px;
  line-height: 13px;
  color: #222222;
  margin-top: 40px;
  margin-right: 40px;
}

.cart_checkout_subtotal_sum {
  margin-left: 20px;
}

.cart_checkout_grandtotal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #222222;
  margin-right: 40px;
  margin-top: 12px;
}

.cart_checkout_grandtotal_sum {
  font-weight: 700;
  color: #f16d7f;
  margin-left: 20px;
}

.cart_info_button {
  width: 272px;
  height: 50px;
  margin: 0 42px;
  background: #f16d7f;
}

.cart_info_button_link {
  padding: 15px 40px;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #ffffff;
}

.cart_info_button:hover {
  -webkit-animation: shadow-drop-2-center 0.5s cubic-bezier(0.215, 0.61, 0.355, 1) both;
  -webkit-animation-animation: shadow-drop-2-center 0.5s cubic-bezier(0.215, 0.61, 0.355, 1) both;
}

.registration_container {
  margin-top: 64px;
  margin-bottom: 96px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.registration_form {
  width: 360px;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #222222;
}

.form_choice {
  margin: 34px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.form_choice_label {
  font-size: 11px;
  line-height: 13px;
  margin-left: 10px;
  margin-right: 20px;
}

.form_choice_circle {
  width: 17px;
  height: 17px;
}

.form_block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.form_block_input {
  margin-top: 22px;
  padding-left: 16px;
  height: 45px;
  border: 1px solid #a4a4a4;
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
  color: #b1b1b1;
  outline: none;
}

.form_condition {
  margin-top: 16px;
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
  color: #b1b1b1;
}

.form_button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 26px;
  background: #f16d7f;
  width: 166px;
  height: 50px;
  margin-top: 40px;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #ffffff;
}

.form_button:hover {
  -webkit-animation: shadow-drop-2-center 0.5s cubic-bezier(0.215, 0.61, 0.355, 1) both;
  -webkit-animation-animation: shadow-drop-2-center 0.5s cubic-bezier(0.215, 0.61, 0.355, 1) both;
}

.registration_info {
  margin-left: 128px;
  width: 650px;
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
}

.info_heading {
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
}

.info_text {
  margin: 22px 0;
}

.info_list li {
  margin-bottom: 16px;
  list-style: none;
  background: url(../img/check_mark.svg) no-repeat 0 4px;
  padding-left: 48px;
}

@-webkit-keyframes heartbeat {
  from {
    -webkit-transform: scale(1);
    -webkit-transform-transform: scale(1);
    -webkit-transform-origin: center center;
    -webkit-transform-origin-transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
    -webkit-animation-timing-function-animation-timing-function: ease-out;
  }
  10% {
    -webkit-transform: scale(0.91);
    -webkit-transform-transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
    -webkit-animation-timing-function-animation-timing-function: ease-in;
  }
  17% {
    -webkit-transform: scale(0.98);
    -webkit-transform-transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
    -webkit-animation-timing-function-animation-timing-function: ease-out;
  }
  33% {
    -webkit-transform: scale(0.87);
    -webkit-transform-transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
    -webkit-animation-timing-function-animation-timing-function: ease-in;
  }
  45% {
    -webkit-transform: scale(1);
    -webkit-transform-transform: scale(1);
    -webkit-animation-timing-function: ease-out;
    -webkit-animation-timing-function-animation-timing-function: ease-out;
  }
}

@keyframes heartbeat {
  from {
    -webkit-transform: scale(1);
    -webkit-transform-transform: scale(1);
    -webkit-transform-origin: center center;
    -webkit-transform-origin-transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
    -webkit-animation-timing-function-animation-timing-function: ease-out;
  }
  10% {
    -webkit-transform: scale(0.91);
    -webkit-transform-transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
    -webkit-animation-timing-function-animation-timing-function: ease-in;
  }
  17% {
    -webkit-transform: scale(0.98);
    -webkit-transform-transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
    -webkit-animation-timing-function-animation-timing-function: ease-out;
  }
  33% {
    -webkit-transform: scale(0.87);
    -webkit-transform-transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
    -webkit-animation-timing-function-animation-timing-function: ease-in;
  }
  45% {
    -webkit-transform: scale(1);
    -webkit-transform-transform: scale(1);
    -webkit-animation-timing-function: ease-out;
    -webkit-animation-timing-function-animation-timing-function: ease-out;
  }
}

@-webkit-keyframes shadow-drop-2-center {
  0% {
    -webkit-transform: translateZ(0);
    -webkit-transform-transform: translateZ(0);
    -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    -webkit-box-shadow-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
  100% {
    -webkit-transform: translateZ(50px);
    -webkit-transform-transform: translateZ(50px);
    -webkit-box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
    -webkit-box-shadow-box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
  }
}

@keyframes shadow-drop-2-center {
  0% {
    -webkit-transform: translateZ(0);
    -webkit-transform-transform: translateZ(0);
    -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    -webkit-box-shadow-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
  100% {
    -webkit-transform: translateZ(50px);
    -webkit-transform-transform: translateZ(50px);
    -webkit-box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
    -webkit-box-shadow-box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
  }
}

@-webkit-keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}

@keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
/*# sourceMappingURL=style.css.map */